In [68]:
import pandas as pd

df_golpes = pd.read_parquet("../data/processed/golpes.parquet")
df_golpes.loc[:, ["clip_start", "marcador", "golpe_q"]].head(100)

    clip_start            marcador     golpe_q
0       27.858     0-0 | 0-0 | 0-0    Servicio
1       42.417     0-0 | 0-0 | 0-0    Servicio
2       43.387     0-0 | 0-0 | 0-0       Reves
3       44.203     0-0 | 0-0 | 0-0       Volea
4       45.379     0-0 | 0-0 | 0-0       Globo
..         ...                 ...         ...
95     272.288  0-0 | 0-0 | 40-adv     Bandeja
96     273.602  0-0 | 0-0 | 40-adv       Globo
97     275.312  0-0 | 0-0 | 40-adv      Vibora
98     275.697  0-0 | 0-0 | 40-adv  Volea bloq
99     276.352  0-0 | 0-0 | 40-adv       Volea

[100 rows x 3 columns]

In [62]:
df_golpes.to_excel("../data/processed/golpes.xlsx", index=False)

In [64]:
df = pd.read_parquet("../data/processed/golpes.parquet")
df[["set_p1","set_p2","juego_p1","juego_p2","punto_p1","punto_p2"]].head(30)

    set_p1  set_p2  juego_p1  juego_p2 punto_p1 punto_p2
0        0       0         0         0        0        0
1        0       0         0         0        0        0
2        0       0         0         0        0        0
3        0       0         0         0        0        0
4        0       0         0         0        0        0
5        0       0         0         0        0        0
6        0       0         0         0        0        0
7        0       0         0         0        0        0
8        0       0         0         0       15        0
9        0       0         0         0       15        0
10       0       0         0         0       15        0
11       0       0         0         0       15        0
12       0       0         0         0       30        0
13       0       0         0         0       30        0
14       0       0         0         0       30        0
15       0       0         0         0       30        0
16       0       0         0         0       30        0
17       0       0         0         0       30        0
18       0       0         0         0       30        0
19       0       0         0         0       30        0
20       0       0         0         0       30        0
21       0       0         0         0       30        0
22       0       0         0         0       30        0
23       0       0         0         0       30        0
24       0       0         0         0       30        0
25       0       0         0         0       40        0
26       0       0         0         0       40        0
27       0       0         0         0       40        0
28       0       0         0         0       40        0
29       0       0         0         0       40        0

In [ ]:
df_golpes[["inicio_x", "inicio_y", "fin_x", "fin_y"]].head(50)

      inicio_x  inicio_y  fin_x  fin_y
0         <NA>      <NA>   <NA>   <NA>
1         <NA>      <NA>   <NA>   <NA>
2         <NA>      <NA>   <NA>   <NA>
3         <NA>      <NA>   <NA>   <NA>
4         <NA>      <NA>   <NA>   <NA>
...        ...       ...    ...    ...
1243      <NA>      <NA>   <NA>   <NA>
1244      <NA>      <NA>   <NA>   <NA>
1245      <NA>      <NA>   <NA>   <NA>
1246      <NA>      <NA>   <NA>   <NA>
1247        28        92     21    196

[1248 rows x 4 columns]

In [67]:
df_golpes

,golpe_q,cara_pala,marcador,jugador,categoria_punto,error,winner,fuerza_error,zona_saque,zona_resto,...,punto_p2,inicio_gople,juego_p1,juego_p2,fin_golpe,asistencia,__source_file,marcador_sets,marcador_juegos,marcador_puntos
0,Servicio,<NA>,0-0 | 0-0 | 0-0,Federico Chingotto,Missed,Missed,<NA>,<NA>,5,1,...,0,<NA>,0,0,<NA>,<NA>,25_Roterdam_Final_Chingalan_CoelloTapia CSV.csv,0-0,0-0,0-0
1,Servicio,<NA>,0-0 | 0-0 | 0-0,Federico Chingotto,bola dentro,<NA>,<NA>,<NA>,5,2,...,0,<NA>,0,0,<NA>,<NA>,25_Roterdam_Final_Chingalan_CoelloTapia CSV.csv,0-0,0-0,0-0
2,Reves,Reves,0-0 | 0-0 | 0-0,Arturo Coello,bola dentro,<NA>,<NA>,<NA>,<NA>,<NA>,...,0,<NA>,0,0,<NA>,<NA>,25_Roterdam_Final_Chingalan_CoelloTapia CSV.csv,0-0,0-0,0-0
3,Volea,Reves,0-0 | 0-0 | 0-0,Federico Chingotto,bola dentro,<NA>,<NA>,<NA>,<NA>,<NA>,...,0,<NA>,0,0,<NA>,<NA>,25_Roterdam_Final_Chingalan_CoelloTapia CSV.csv,0-0,0-0,0-0
4,Globo,Derecha,0-0 | 0-0 | 0-0,Arturo Coello,bola dentro,<NA>,<NA>,<NA>,<NA>,<NA>,...,0,<NA>,0,0,<NA>,<NA>,25_Roterdam_Final_Chingalan_CoelloTapia CSV.csv,0-0,0-0,0-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,Derecha,Derecha,0-1 | 6-6 | 0-0,Alejandro Galán,bola dentro,<NA>,<NA>,<NA>,<NA>,<NA>,...,0,<NA>,6,6,<NA>,<NA>,25_Roterdam_Final_Chingalan_CoelloTapia CSV.csv,0-1,6-6,0-0
1244,Volea,Derecha,0-1 | 6-6 | 0-0,Arturo Coello,bola dentro,<NA>,<NA>,<NA>,<NA>,<NA>,...,0,<NA>,6,6,<NA>,<NA>,25_Roterdam_Final_Chingalan_CoelloTapia CSV.csv,0-1,6-6,0-0
1245,Globo,Reves,0-1 | 6-6 | 0-0,Alejandro Galán,bola dentro,<NA>,<NA>,<NA>,<NA>,<NA>,...,0,<NA>,6,6,<NA>,<NA>,25_Roterdam_Final_Chingalan_CoelloTapia CSV.csv,0-1,6-6,0-0
1246,Bandeja,Derecha,0-1 | 6-6 | 0-0,Agustín Tapia,bola dentro,<NA>,<NA>,<NA>,<NA>,<NA>,...,0,<NA>,6,6,<NA>,<NA>,25_Roterdam_Final_Chingalan_CoelloTapia CSV.csv,0-1,6-6,0-0
1247,Volea,Derecha,0-1 | 6-6 | 0-0,Federico Chingotto,Error no forzado,Error no forzado,<NA>,<NA>,<NA>,<NA>,...,0,Inicio golpe,6,6,Fin golpe,<NA>,25_Roterdam_Final_Chingalan_CoelloTapia CSV.csv,0-1,6-6,0-0